<!DOCTYPE html>
<html>
<head>
    <title>ParkiCare Screening</title>
</head>
<body>
    <h2>Parkinson’s Disease Screening</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for feature in features %}
            <label>{{ feature }}</label><br>
            <input
                type="number"
                step="any"
                name="{{ feature }}"
                required
            ><br><br>
        {% endfor %}

        <button type="submit">Predict</button>
    </form>
</body>
</html>
